[2022-01-05 10:57] rafinkanisa opened #1 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**Context**
Is this bug request coming from a partner ? in this case please note in which context it was requested? and who was the contact point?
ex: This is a request from X who found this bug and reported in a call meeting with Y.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scro

[2022-01-11 08:38] rafinkanisa opened #2 "RH NG Add Sub-sector"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/185 to here.

**Is your feature request related to a problem? Please describe.**
The Nigeria country office would like to expand the engagement of ReportHub in Nigeria. They'll be engaging the HLP sub-sector which operates under the Protection cluster. They will need the Afghanistan ReportHub team support to add the sub-sector as ReportHu

[2022-01-11 10:51] rafinkanisa opened #3 "RH NG Add Services Mapping"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/192 to here

**Is your feature request related to a problem? Please describe.**
The Nigeria country office would like to increase the engagement of ReportHub in their country. As one of the actions to achieve their goal, they are thinking that adding the "Services Mapping" in the ReportHub, would make more partners in Nigeria use this pla

[2022-01-11 12:12] rafinkanisa opened #4 "RH AF Adding HRP Beneficiaries 2022"
**Is your feature request related to a problem? Please describe.**
As the 2022 HRP has just been published, we'll have to update the list accordingly so this can be used for reporting the January report.

**Describe the solution you'd like**
Add the following HRP beneficiary list in Afghanistan to the platform. Below are the population group list for 2022 that I've communicated and agree with the

[2022-01-12 06:41] rafinkanisa opened #5 "Email Notification of Request Delete Project still sending to deactivate user"
**Describe the bug**
I just checked & realized that the email notification for requesting to delete a project is still being sent to the deactivated user. The system should only send the notification to the active users.

**Context**
This is something that I've just found when I receive a delete request.

**To Reproduce**
Steps to reproduce the behavior:
1. Login using a common account
2. Click on

[2022-01-13 12:35] rafinkanisa opened #6 "RH AF Add Notes on the Monthly Report Page"
**Is your feature request related to a problem? Please describe.**
I'm communicating with the OCHA and they are requesting to have a note that explains what should partner choose about several population group to avoid confusion among the partners who are submitting the reports to the platform

**Describe the solution you'd like**
Add the notes with below sentences in Monthly Progress and Activity

[2022-01-13 15:12] rafinkanisa opened #7 "Enhance Import Functionality"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/24. The leftover plan of the previous leads

**Is your feature request related to a problem? Please describe.**
Whenever the partners are using the import features, they couldn't see the preview of the table and it is confusing to look at which of the fields are incorrect. It has already been planned by the previous leads to improve the u

[2022-01-14 01:15] rafinkanisa opened #8 "Opening link before logged in not redirect to the link after login"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/105

**Is your feature request related to a problem? Please describe.**
Whenever I or partners open a reporthub link before logging to the platform, I'm not redirected to the destinated link after successfully logging in. Instead, the first screen that always pop up after login is the "My Admin" page.

How to do :

1. Open an incognito wi

[2022-01-14 03:08] rafinkanisa opened #9 "RH AF Copy Last Report Button not working"
**Describe the bug**
Couldn't copy the last report in biweekly progress report

**Context**
I just found out this bug when randomly trying the copy button

**To Reproduce**
Steps to reproduce the behavior:
1. Login using your Afghanistan account
2. Go to https://reporthub.org/desk/#/cluster/projects/group/61dd62179fb74f71688bd50e/61dd62179fb74f71688bd528
3. Click on 'Copy Last Report'
4. See error

[2022-01-14 03:30] fakhrihawari commented on #9
Already found  where the problem is, and will make a pull request to solve this bug

[2022-01-14 04:08] rafinkanisa opened #10 "RH SO Showing different site type location in the same cluster"
**Describe the bug**
Showing different site type location dropdown options even though the projects are from the same 1 cluster.

**Context**
I found this bug when I explore the ReportHub in Somalia

**To Reproduce**
Steps to reproduce the behavior:
1. Login to your Somalia account
2. Go to the following link :
https://reporthub.org/desk/#/cluster/projects/details/60af3b0c9071f21a5c063767
https://

[2022-01-14 04:41] rafinkanisa opened #11 "Tokenized API"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/151. Leftover the previous project lead plan

**Is your feature request related to a problem? Please describe.**
The API in ReportHub can be accessed publicly as long as the user has the link. It has been planned by the previous lead that ReportHub should move to the tokenized direction

**Describe the solution you'd like**
When a user op

[2022-01-14 05:37] fakhrihawari commented on #10
Already fix this
Link PR
https://github.com/iMMAP/ngm-reportHub/pull/101

[2022-01-14 07:09] fakhrihawari commented on #9
Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/102

[2022-01-14 07:49] fakhrihawari commented on #6
![Screen Shot 2022-01-14 at 14 49 16](https://user-images.githubusercontent.com/12655589/149470706-aa6461b9-a731-465c-942a-995191742e42.png)

[2022-01-14 09:39] fakhrihawari commented on #5
And right now, the email will only send to users with active status
Link PR:
https://github.com/iMMAP/ngm-reportEngine/pull/47

Updated on PROD

[2022-01-14 10:13] #5 closed, assigned to fakhrihawari

[2022-01-14 10:13] #9 closed, assigned to fakhrihawari

[2022-01-14 10:14] #10 closed, assigned to fakhrihawari

[2022-01-14 10:20] rafinkanisa opened #12 "RH ET Duplicate Stock Report"
**Describe the bug**
The data remnants which is the result of previous bugs that has been fixed a couple of months ago. The data is left uncleaned at that time. Read https://github.com/rafinkanisa/ngm-reportDesk/issues/130 issue

**Context**
I couldn't remember who is reporting this bug but this is reported by a reporting partner in Afghanistan to Rafinka. Rafinka checks this bug and learned that

[2022-01-14 10:32] fakhrihawari commented on #12
Already run the fixed script and run it on PROD Server

[2022-01-14 10:54] #12 closed, assigned to fakhrihawari

[2022-01-14 11:07] rafinkanisa opened #13 "RH AF WASH Activity for HRP 2022"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/187

**Is your feature request related to a problem? Please describe.**
As the 2022 HRP has just been published, we'll have to update the configuration list in WASH cluster accordingly so this can be used for reporting the January report.

**Describe the solution you'd like**
Update the following list accordingly based on their inputs fro

[2022-01-14 11:08] rafinkanisa opened #14 "RH AF Health Activity for HRP 2022"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/188

**Describe the bug**
A clear and concise description of what the bug is.

**Context**
Is this bug request coming from a partner ? in this case please note in which context it was requested? and who was the contact point?
ex: This is a request from X who found this bug and reported in a call meeting with Y.

**To Reproduce**
Steps to

[2022-01-14 11:09] rafinkanisa opened #15 "RH AF ESNFI Activity for 2022"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/189

**Is your feature request related to a problem? Please describe.**
As the 2022 HRP has just been published, we'll have to update the configuration list in ESNFI cluster accordingly so this can be used for reporting the January report.

**Describe the solution you'd like**
Update the following list accordingly based on their inputs fr

[2022-01-14 11:10] rafinkanisa opened #16 "RH AF Protection Activity for HRP 2022"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/190

**Is your feature request related to a problem? Please describe.**
As the 2022 HRP has just been published, we'll have to update the configuration list in Protection cluster accordingly so this can be used for reporting the January report.

**Describe the solution you'd like**
Update the following list accordingly based on their inpu

[2022-01-14 11:11] rafinkanisa opened #17 "RH AF FSAC Activity for HRP 2022"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/191

**Is your feature request related to a problem? Please describe.**
As the 2022 HRP has just been published, we'll have to update the configuration list in FSAC cluster accordingly so this can be used for reporting the January report.

**Describe the solution you'd like**
Update the following list accordingly based on their inputs fro

[2022-01-14 11:13] rafinkanisa opened #18 "RH AF Health Activity for HRP 2022"
Moving https://github.com/rafinkanisa/ngm-reportDesk/issues/188

**Is your feature request related to a problem? Please describe.**
As the 2022 HRP has just been published, we'll have to update the configuration list in Health cluster accordingly so this can be used for reporting the January report.

**Describe the solution you'd like**
Update the following list accordingly based on their inputs f

[2022-01-14 11:30] rafinkanisa commented on #17
I have sent the cluster coordinator the configuration list at 23 Dec 2021 and just received the returned files at 09 Jan 2022
I already analyze the config list and there are some missing part. Need to setup a meeting with them. The previous scheduled meeting is being canceled

[2022-01-14 11:34] rafinkanisa commented on #18
I have sent the cluster coordinator the configuration list at 23 Dec 2021

[2022-01-14 11:34] rafinkanisa commented on #16
I have sent the cluster coordinator the configuration list at 21 Dec 2021

[2022-01-14 11:34] rafinkanisa commented on #15
I have sent the cluster coordinator the configuration list at 23 Dec 2021

[2022-01-14 11:34] rafinkanisa commented on #13
I have sent the cluster coordinator the configuration list at 23 Dec 2021

[2022-01-14 14:36] rafinkanisa opened #19 "RH SO Health Activity for HRP 2022"
**Is your feature request related to a problem? Please describe.**
As the 2022 HRP has just been published, we'll have to update the configuration list in Health cluster at Somalia accordingly so this can be used for reporting the January report.

**Describe the solution you'd like**
Update the following list accordingly based on their inputs from the returned configuration files

- [x] Activity L

[2022-01-14 15:14] rafinkanisa opened #20 "RH ET ESNFI Activity for HRP 2022"
**Is your feature request related to a problem? Please describe.**
As the 2022 HRP has just been published, we'll have to update the configuration list in ESNFI cluster at Ethiopia accordingly so this can be used for reporting the January report.

**Describe the solution you'd like**
Update the following list accordingly based on their inputs from the returned configuration files

- [ ] Activity L

[2022-01-14 15:18] rafinkanisa commented on #19
I have sent the focal point the configuration list at 10 Jan 2021

[2022-01-14 15:18] rafinkanisa commented on #20
I have sent the focal point the configuration list at 10 Jan 2021

[2022-01-17 01:37] fakhrihawari commented on #6
![Screen Shot 2022-01-17 at 08 37 14](https://user-images.githubusercontent.com/12655589/149687777-23786931-c0d0-43c8-b240-c66048f6d9a2.png)

Updated and only show in AF

[2022-01-17 07:10] fakhrihawari commented on #4
Updated on DEV

[2022-01-17 07:10] fakhrihawari commented on #6
Updated on DEV

[2022-01-17 09:18] rafinkanisa opened #21 "RH SO Update Location List"
**Is your feature request related to a problem? Please describe.**
I'm communicating with the Somalia focal person and he told me that they would like to modify the list of locations in ReportHub. Therefore, we'll have to update the location list in Somalia.

**Describe the solution you'd like**
Update the location list of ReportHub in Somalia

**Acceptance Criteria**

- [ ] The updated list is sh

[2022-01-17 09:19] rafinkanisa commented on #21
I have sent the location list at 17 Jan 2022

[2022-01-17 09:22] rafinkanisa commented on #19
Hi I've just received the files and have analyzed it. Please update in the DEV @fakhrihawari

[2022-01-19 02:18] rafinkanisa commented on #11
Hi! I've just tried the tokenized API in the DEV but below message is appearing. I tried using an acoount with country & cluster admin rights. Kindly check.

1. Open incognito mode
2. https://dev.reporthub.immap.org/api/cluster/indicator?adminRpcode=emro&admin0pcode=af&admin1pcode=all&admin2pcode=all&cluster_id=health&organization_tag=all&start_date=2021-11-01&end_date=2021-11-30&indicator=benefic

[2022-01-19 03:42] rafinkanisa opened #22 "RH NG Clean Older Reporting Structure"
**Describe the bug**
In Nigeria there is a leftover of older reporting structure of one organization account per cluster, existing before 2019
in 2019 it has become one organization per country, and organizations updated only in Afghanistan

As a reference please see the issue here
https://github.com/pfitzpaddy/ngm-reportDesk/issues/127

**Context**
We realized this bug last year when a colleague

[2022-01-19 08:42] rafinkanisa commented on #4
Hi well done! You can go on the PROD.
I'll come back here if some changes are needed.
I'm just putting notes here if the start date of a Project Plan is in 2021 and it ends in 2022, the platform will show the users both of the HRP beneficiary lists for 2021 & 2022 in the Activity Plan.

There is also an additional notes so partners wouldn't be confuse which Refugees should they choose in the Activ

[2022-01-19 08:48] rafinkanisa commented on #6
Hi! Well done! I've just checked and it's good to hear that we have options to show the notification based on the time.
Just putting notes here if the start date of a Project Plan is in 2021 and it ends in 2022, the platform will show the users the notes also in the Activity Plan.

You can go to the PROD

[2022-01-21 15:22] rafinkanisa commented on #18
I've just received the draft list on 21 Jan 2022. They'll still need time to finalize the list because I've analyzed and let them know there are some missing activities that can be found in the HRP document but doesn't reflect in the list they've compiled.

I've compiled all of the lists in the CSV, the activity list is still drafted so, I'll update once they send me the final list.

What you need

[2022-01-21 15:32] rafinkanisa commented on #15
I've just received the configuration file on 20 Jan 2022 late at night. I've analyzed the list and checked with them the missing part. The only thing that still missing is only the indicator for 3 activities about capacity building. They told me they would be informing me about those indicators on Sunday.

Kindly check all of the lists in case I missed some things @fakhrihawari
After that please u

[2022-01-21 16:13] rafinkanisa commented on #21
I've just received the list of districts from the focal person. I've analyzed it and it missing the pcode for the newly added district.
I need to make sure whether the boundaries are changing or not so I'm currently requesting them to provide me the shapefile.
I've checked in https://data.humdata.org/dataset/somalia-administrative-boundaries
I could found the pcode but not sure if we could use tha

[2022-01-21 16:38] rafinkanisa commented on #13
I've just received the configuration files from the WASH cluster on 20 Jan 2022.
I've done analyzing their configuration files and asked them to fill in the missing information. I also have done a meeting with them to clarify their request. Basically, they're requesting to add some more tier dropdowns in several things.
Because we need to standardize using the ReportHub standard, I've just negotia

[2022-01-21 16:45] rafinkanisa commented on #22
Hi @sud0su I would like you to take over this task from @fakhrihawari since he is very busy with updating RH.
After further investigation, there are so many collections need to be cleaned up
It's not possible to use the script to clean it up because there are still some inconsistency in many collections. You'll have to look at it one by one.

I only explain in the above one of the impact, but in r

[2022-01-21 22:15] fakhrihawari commented on #6
Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/106

[2022-01-21 22:16] fakhrihawari commented on #4
Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/106

[2022-01-21 22:17] fakhrihawari commented on #11
Still on DEV,
Link PR:
https://github.com/iMMAP/ngm-reportEngine/pull/49

[2022-01-21 22:17] fakhrihawari commented on #19
Already updated on DEV

[2022-01-22 07:38] #4 closed, assigned to fakhrihawari

[2022-01-22 07:40] #6 closed, assigned to fakhrihawari

[2022-01-24 08:05] mishaker opened #23 "List of used DB"
Please include a brief explanation of each database listed below:

[code]

Example:
ngmHealthCluster contains all reports added in reporthub and all stock management.

[2022-01-24 08:11] mishaker opened #24 "Lat & Log used in 5W"
<img width="1373" alt="Screen Shot 2022-01-24 at 08 08 27" src="https://user-images.githubusercontent.com/939309/150744892-72c3854a-6015-4ea3-889f-b58c53401448.png">

Here is the URL I used:
https://reporthub.org/desk/#/cluster/5w/emro/af/all/all/all/all/all/all/all/2021-01-01/2022-01-24/true/all/all/all

in the 5W dashboard please describe the following items:

- What are the lat&long used to dra

[2022-01-24 08:13] mishaker opened #25 "Total Services to Beneficiaries"
Please explain how this number is calculated:
<img width="1577" alt="Screen Shot 2022-01-24 at 08 12 32" src="https://user-images.githubusercontent.com/939309/150745581-76320504-c5e7-4f55-bdde-1c19bc572929.png">

corresponding URL:
https://reporthub.org/desk/#/cluster/5w/emro/af/all/all/all/all/all/all/all/2021-01-01/2022-01-24/true/all/all/all

[2022-01-24 08:18] mishaker opened #26 "ngmHealthCluster/report"
What is the reason multiple records are created almost at the same time for the same record?

<img width="1209" alt="Screen Shot 2022-01-24 at 08 17 10" src="https://user-images.githubusercontent.com/939309/150746058-c4957db9-6279-4afa-bda2-b94b16702875.png">

The ID of the most recent one of them:

{"$oid":"61e6b57ca171385b2cd90e43"}

[2022-01-24 08:27] mishaker opened #27 "All beneficiary data fields"
in all beneficiary data export, please explain fields in bold:

project_id
report_id
beneficiary_id
cluster_id
cluster
focal_point_name
focal_point_phone
focal_point_email
organization
programme_partners
implementing_partners
project_hrp_code
project_code
project_title
project_start_date
project_end_date
project_status
project_details
donor
project_budget
project_budget_currency
report_month_numbe

[2022-01-24 08:34] mishaker opened #28 "Relation between MongoDB collection"
Please explain the following entities and the relation between them:

- activities
- report
- beneficiaries
- location

[2022-01-24 08:36] mishaker opened #29 "Unused collections in mongo DB"
Please list all collections in MongoDB which are obsolete and not currently used.

Here are tables for ngmHealthCluster:

[code]

[2022-01-24 08:36] mishaker opened #30 "Unused collections in mongo DB"
Please list all collections in MongoDB which are obsolete and not currently used.

Here are tables for ngmHealthCluster:

[code]

[2022-01-25 03:56] fakhrihawari commented on #13
Updated on PROD:
1. Activity List
2. Beneficiary List

And ad-hoc request to make "WASH Supplies" automatic checked if project reporting activity :
1. Family Hygiene Kits Distributed
2. Family Water Kit Distribution

Script to update

// wash suplies update script
use ngmHealthCluster
db.project.find({ admin0pcode: "AF", "activity_type.activity_type_name": { $in: ["Water", "Hygiene"] }, $and: [{ p

[2022-01-25 04:01] rafinkanisa opened #31 "RH AF WASH Select New Activity Type"
**Is your feature request related to a problem? Please describe.**
The WASH cluster is creating a new activity type in 2022. They're requesting us to automatically tick this new activity type for their partners because the reporting partners often didn't know that the activity is moving to the new activity type.

**Describe the solution you'd like**
Create a script to automatically tick the new ac

[2022-01-25 05:44] fakhrihawari commented on #31
After I check There is no report  submitted in Jan 2022 using this activity
Family Water Kit Distribution
Family Hygiene Kits Distributed

[2022-01-25 05:51] fakhrihawari commented on #31
Script to update

// wash suplies update script
use ngmHealthCluster
db.project.find({ admin0pcode: "AF", "activity_type.activity_type_name": { $in: ["Water", "Hygiene"] }, $and: [{ project_end_date: { $gte: ISODate('2022-01-01') } }, { project_start_date: { $lt: ISODate('2022-02-01') } }] }).forEach(function (p) {
if (p.activity_type.length) {

    var _beneficiaries = db.beneficiaries.aggregate(

[2022-01-25 06:02] fakhrihawari commented on #15
Okay, there are some activities that missing input on certain field and some that wrong input
for example :
[{"grant_type_id" : "conditional_restricted","grant_type_name" : "Conditional, Restricted"}][{"grant_type_id" : "unconditional_unrestricted","grant_type_name" : "Unconditional, Unrestricted"}]
 it should be [{"grant_type_id" : "conditional_restricted","grant_type_name" : "Conditional, Restri

[2022-01-25 10:11] sud0su commented on #11
the API tokenization validation on all indicators has been developed and needs review and testing on the dev server.
Link PR:
[iMMAP/ngm-reportEngine#50](https://github.com/iMMAP/ngm-reportEngine/pull/50)

[2022-01-27 06:43] fakhrihawari commented on #19
Already updated on PROD

[2022-01-28 12:18] #30 closed, assigned to fakhrihawari, rafinkanisa

[2022-01-28 12:19] mishaker commented on #30
closing this one cause duplicate of #29

[2022-01-31 00:44] fakhrihawari commented on #15
The new lists were already updated last week on 27 Jan 2022

[2022-01-31 00:44] fakhrihawari commented on #16
The new lists were already updated last week on 27 Jan 2022

[2022-01-31 00:45] fakhrihawari commented on #21
The new lists for location were already updated last week on 28 Jan 2022

[2022-01-31 02:47] fakhrihawari commented on #26
Sorry, what record is this?
i just query
db.report.find({_id:ObjectId('61e6b57ca171385b2cd90e43')}).count()
and it just show only one record

![Screen Shot 2022-01-31 at 09 47 08](https://user-images.githubusercontent.com/12655589/151732331-6f40ad4c-db37-4a6e-b99f-24c57bd9e716.png)

[2022-01-31 09:21] mishaker commented on #26
This particular record doesn't matter. the question is: what is the reason why there are multiple records for a same entity ?

[2022-01-31 14:52] fakhrihawari commented on #26
can you show me the full screenshot?

[2022-02-01 03:18] fakhrihawari commented on #27
1. admin0pcode is for country code  e.g.Afghanistan is AF
2. admin0name  is for country name e.g   Afghanistan is Afghanistan
3. admin1pcode is for First - level administrative divisions code e.g   Nimroz is AF34
4. admin1name is for First - level administrative divisions name e.g  Nimroz
5. admin2pcode is for second - level administrative divisions code e.g Kang is AF3402
6. admin2name is for sec

[2022-02-01 03:48] fakhrihawari commented on #24
1. lat&long used to draw the map, It's from beneficiaries collection. In beneficiaries there attribute/property site_lat and site_lng.
field passed to map module:
site_lat,
site_lng,

you can check on the detail in this code link below:
https://github.com/iMMAP/ngm-reportEngine/blob/961fcf3a6ed76fa3f46b4d5d329fb20394b57a65/api/controllers/Cluster/Dashboards/ClusterDashboardController.js#L1847

2.

[2022-02-01 03:59] fakhrihawari commented on #25
Total beneficiaries
basically is total beneficiaries = total female + total male;

the total male is boys+men+ elderly men
the total female is girls + women + elderly women;

You can check  the detail at the link below:
https://github.com/iMMAP/ngm-reportEngine/blob/961fcf3a6ed76fa3f46b4d5d329fb20394b57a65/api/controllers/Cluster/Dashboards/ClusterDashboardController.js#L1086

[2022-02-01 04:19] fakhrihawari commented on #29
the unused collection:
trainingparticipants
trainings
workshop
reporthub_indicators_WA2016_IDP201
participant
indicators

the collection above was used by a specific country

[2022-02-01 04:53] fakhrihawari commented on #18
already updated activity and beneficiary list on DEV

[2022-02-01 06:10] fakhrihawari commented on #31
Already updated the DB

[2022-02-02 01:34] fakhrihawari commented on #23
ngmAfNutrition - for nutrition weekly reporting it was used before 2019, contains all reports
ngmEpr - emergency response it was used before 2018, contains emergency response, alert and disaster
ngmEthCtc - specific health cluster reporting in ethiopia , contains asessment, case management, stock
ngmHealthCluster - reporthub cluster reporting, contains all reports added in reporthub and all stock

[2022-02-04 04:49] rafinkanisa opened #32 "RH ET Activity Status doesn't change"
**Describe the bug**
The "ongoing" status doesn't change to "completed" even though the activity end date has been specified and already passed.

**Context**
This is an issue raised by the ReportHub focal person in Somalia and reported in a call meeting with me on Wed, 03 Feb 2022 at 18.30 (GMT +7).

**To Reproduce**
Steps to reproduce the behavior:
1. Login using ethiopia account
2. Go to https:/

[2022-02-04 05:00] rafinkanisa opened #33 "RH ET Clean Incorrect Activity Status"
**Describe the bug**
Related issue : https://github.com/iMMAP/ngm-reportDesk/issues/32

**Context**
This is an issue raised by the ReportHub focal person in Somalia and reported in a call meeting with me on Wed, 03 Feb 2022 at 18.30 (GMT +7).

**To Reproduce**
Steps to reproduce the behavior:
1. Login using Ethiopia account
2. Go to https://reporthub.org/desk/#/cluster/admin/afro/et/all/all/all/ac

[2022-02-04 05:02] rafinkanisa commented on #20
Hi! I've just received a confirmation from their side that the current activity list has already up to date. So, there's no need to update the activity list and other configuration lists and will close this issue

[2022-02-04 05:02] #20 closed, assigned to nobody

[2022-02-04 05:04] #19 closed, assigned to fakhrihawari, rafinkanisa

[2022-02-04 05:10] rafinkanisa commented on #15
Received feedback from their side at 02 Feb 2022
They're requesting the following

- [x] Changing some of the wording of the Activity Type Name in 2022 that has a similar definition to be the same as 2021 (e.g. Permanent Shelter Support -> Permanent Shelter)
- [x] Make the 2021 winterization activity (Standard Winterization Packages (blankets/clothing/heating)) which still ongoing to be available

[2022-02-04 05:16] #31 closed, assigned to fakhrihawari

[2022-02-04 05:29] rafinkanisa commented on #24
Adding notes :

1. Lat & Long which is used in ReportHub is coming from a shapefile that has been processed previously. To make it simpler, it's a centroid of the boundary.
2. Simple answer : counting all of the site locations from the report that has been submitted in the specified period and the other filter (country/sector/ etc).

[2022-02-04 05:56] fakhrihawari commented on #15
Changing some of the wording of the Activity Type Name in 2022 that has a similar definition to be the same as 2021

<img width="559" alt="Screen Shot 2022-02-02 at 14 45 59" src="https://user-images.githubusercontent.com/12655589/152480020-ba26ca22-78b1-48d3-92e2-67f6c8a2930a.png">

Remove “Sealing Off Kit” from the 2022 Activity List
<img width="1263" alt="Screen Shot 2022-02-02 at 15 01 11" src

[2022-02-04 06:11] rafinkanisa commented on #25
Adding notes :
Total of the Individual being reported in the platform in the specified period and the other filter (country/sector/ etc)

example :
"A" is a woman and received support in Jan 2022. In Feb "A" keep receiving support for the same activity.
The reporting partners will report 1 woman both in Jan & Feb 2022.
The number will be shown in the dashboard : 2

So, rather than calling it indiv

[2022-02-04 07:08] fakhrihawari commented on #33
Script to solve this problem:
// set ongoing to complete
db.beneficiaries.find({admin0pcode:"ET",activity_status:"ongoing",  $and: [ { activity_end_date : {$exists:true} } , {activity_end_date : {$ne:""}}]}).count()
db.beneficiaries.update({admin0pcode:"ET",activity_status:"ongoing",  $and: [ { activity_end_date : {$exists:true} } , {activity_end_date : {$ne:""}}]},{$set:{activity_status:"complete

[2022-02-04 07:09] fakhrihawari commented on #32
The issue is in directive
Already fixed on this link PR:
https://github.com/iMMAP/ngm-reportHub/pull/113

[2022-02-04 07:39] rafinkanisa opened #34 "RH ET Update Location List"
**Is your feature request related to a problem? Please describe.**
I'm communicating with the Ethiopia focal person and he told me that they would like to update the list of locations in ReportHub. Therefore, we'll have to update the location list in Ethiopia.

**Describe the solution you'd like**
Update the location list of ReportHub in Ethiopia

**Acceptance Criteria**

- [x] The updated list is

[2022-02-04 07:52] rafinkanisa opened #35 "RH AF WASH activate total pwd"
**Is your feature request related to a problem? Please describe.**
The WASH cluster focal point is reaching out and requesting to activate the total pwd instead of using the disaggregated person with disabilities which was used in last year

**Describe the solution you'd like**
Change the configuration of the activity to use total pwd

**Describe alternatives you've considered**
No alternatives

*

[2022-02-04 07:53] rafinkanisa opened #36 "RH AF WASH Clean Database"
**Describe the bug**
Related with https://github.com/iMMAP/ngm-reportDesk/issues/35
As there are already some partners have submitted their report, we'll have to clean their data accordingly

**Context**
This is a task which I predict should be done when we modify the configuration

**To Reproduce**
Steps to reproduce the behavior:
1. Login to your Afghanistan account
2. Go to 'https://reporthub.o

[2022-02-04 07:56] #15 closed, assigned to fakhrihawari, rafinkanisa

[2022-02-04 07:56] fakhrihawari commented on #35
already did the task, by updating wash activities

[2022-02-04 07:59] fakhrihawari commented on #36
Script to clean wash:

- db.beneficiaries.find({ admin0pcode: "AF", cluster_id: "wash", activity_type_id: { $ne: "cash_voucher" }, beneficiary_category_id: { $exists: true }, total_pwd: { $exists: true }, activity_detail_id: { $nin: ["regular", "response_covid19", "response_drought", "response_cholera"] }, createdAt: { $gte: ISODate('2022-02-01') }, report_year: 2022 }).count()

- db.beneficiaries

[2022-02-04 08:46] fakhrihawari commented on #18
already updated activity and beneficiary list on PROD

[2022-02-04 08:48] #13 closed, assigned to fakhrihawari, rafinkanisa

[2022-02-04 08:50] fakhrihawari commented on #17
Already updated on PROD on 27 Jan 2022

[2022-02-04 08:52] fakhrihawari commented on #34
Extracted ET location lists from Database

[2022-02-04 10:04] rafinkanisa commented on #26
@mishaker are you sure it is the same entity? for all of the columns? have you double-checked?
I also try by myself and it only shows 1 records using below query
db.getCollection('report').find({_id:ObjectId('61e6b57ca171385b2cd90e43')})
If it really does multiple records for the same entity, if we query using the ID you're mentioning before, then it would show more than one record.

We would like

[2022-02-04 13:14] rafinkanisa commented on #17
The activity list is the same as the previous year. Only configure the beneficiary list.

[2022-02-04 20:07] rafinkanisa commented on #28
Before explaining the relation between those collections, you'll need to have the knowledge of understanding the basic workflow in ReportHub as follows :

- Reporting partners creates a project plan
- Reporting partners specify the target locations
- The platform generates the reports which shall be completed in each period by the reporting partner
- Reporting partners submitted the data

After yo

[2022-02-07 02:38] rafinkanisa opened #37 "RH AF Biweekly Copy Last Report not working"
**Describe the bug**
Copy last report button for biweekly reporting is not working

**Context**
This is a request from ESNFI cluster IM who found this bug and reported in a call meeting with me.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to your afghanistan account
2. Go to https://reporthub.org/desk/#/cluster/projects/report/61bac0bcd56ebef03b784d69/61cfb5a2bfd464581ece8cdd/AF240

[2022-02-07 05:24] dodiws commented on #21
### Compare lat long values
The `ngmReportHub.admin2` Somalia lat long values are the same with lat long calculated from shapefile in [https://data.humdata.org/dataset/somalia-administrative-boundaries](https://data.humdata.org/dataset/somalia-administrative-boundaries). Steps to compare the values:

Import `Som_Admbnda_Adm2_UNDP.shp` shapefile to postgres:
[code]

Open psql:
[code]

In psql:
[cod

[2022-02-07 05:26] #21 closed, assigned to fakhrihawari, dodiws, rafinkanisa

[2022-02-07 05:28] #17 closed, assigned to fakhrihawari, rafinkanisa

[2022-02-08 07:25] rafinkanisa opened #38 "RH AF Update Health Cluster Activity Config"
**Is your feature request related to a problem? Please describe.**
There is a reporting partner raising an issue to the cluster leads that he would like to submit the data for boys & girls about "Health Education & Awareness" in Health cluster activity. The cluster focal point is requesting to enable this field.

**Describe the solution you'd like**
Enable capturing the boys & girls field for "Hea

[2022-02-08 07:27] rafinkanisa commented on #38
Updated on DEV. Waiting until there's no user logging in the platform to update on PROD

[2022-02-08 08:29] rafinkanisa commented on #27
Adding notes

What you're asking is related with the geospatial data fields.
ReportHub follows an administrative structure that complies with humanitarian standards. This makes the reporting data linked to geographic polygons for analysis and thematic representation using GIS software

[2022-02-08 08:37] rafinkanisa commented on #16
Adding notes
has confirmed to the cluster focal point to enable cash inputs for the following activities
<img width="1374" alt="Screen Shot 2022-02-08 at 15 39 06" src="https://user-images.githubusercontent.com/28089698/152949520-b91962c6-d399-40b7-83c1-89ce074e7055.png">

confirmed to also collect below data for following activities
<img width="1458" alt="Screen Shot 2022-02-08 at 15 38 55" src="

[2022-02-08 08:40] #16 closed, assigned to fakhrihawari, rafinkanisa

[2022-02-08 08:58] rafinkanisa commented on #38
Updated on PROD

[2022-02-08 08:59] #38 closed, assigned to rafinkanisa

[2022-02-09 05:12] rafinkanisa opened #39 "RH SO Organization doesn't match with the defined organization in the platform"
**Describe the bug**
A long time ago we have bugs where the users are able to write down their organization name while it's still not being registered in the system and not showing in the dropdown list. The bug itself has been fixed while the data is still not cleaned yet. There are many users data in the platform where the organization_id doesn't match

**Context**
I found this when I'm trying to

[2022-02-09 08:51] rafinkanisa opened #40 "Email notification when project is deleted"
**Is your feature request related to a problem? Please describe.**
In Afghanistan, the reporting partners are not allowed to delete their projects by themselves. They will have to request to delete the project and later the admin will delete that. Once it's being deleted by the admin, the reporting partner doesn't know that the project has been successfully deleted. As discussed with Naqi, it woul

[2022-02-09 09:41] rafinkanisa commented on #2
Just receive feedback from their side. They'll give us the list in the upcoming days, be prepared.

[2022-02-09 09:49] rafinkanisa opened #41 "The automatic selected date is not full month for January in My Admin page"
**Describe the bug**
The date selected automatically by the system is not selecting the whole days of the month of January. It only selects 1 Jan - 28 Jan

**Context**
I found this bug when Naqi is doing the training

**To Reproduce**
Steps to reproduce the behavior:
1. Login to your account
2. Click on 'My Home' > My Admin
3. Look for the date filter
4. See error where it doesn't automatically se

[2022-02-09 10:22] #36 closed, assigned to fakhrihawari

[2022-02-09 10:22] #35 closed, assigned to fakhrihawari

[2022-02-09 10:30] rafinkanisa commented on #18
Adding notes :
The following unit is added accordingly
<img width="1174" alt="Screen Shot 2022-02-09 at 17 28 57" src="https://user-images.githubusercontent.com/28089698/153179949-1f4e6b37-d01f-48bc-802a-4c6fad90ffc0.png">

Number 23 & 24 is merged

[2022-02-09 10:31] #18 closed, assigned to fakhrihawari, rafinkanisa

[2022-02-09 10:43] #32 closed, assigned to fakhrihawari

[2022-02-09 10:43] #33 closed, assigned to fakhrihawari

[2022-02-09 10:59] mishaker opened #42 "Backup process"
Please explain the process of having a backup of the entire DB of reporthub.

[2022-02-10 03:06] rafinkanisa commented on #42
The data backup is run automatically twice a day. We've been told that it runs at 4:30AM 16:30PM Frankfurt time. But when we check by ourselves, it is using UTC timezone. Backups are uploaded to S3.

Basically the process is :

1. create a folder
2. dump to the folder
3. zip the folder
4. copy zip to S3
5. remove folder

[2022-02-10 11:08] rafinkanisa opened #43 "RH NG WASH Add New Activity"
**Is your feature request related to a problem? Please describe.**
The WASH cluster focal point in Nigeria is reaching out and request to add a new activity

**Describe the solution you'd like**
Add the activity with the following details :
Activity -> Hygiene
Description -> MHM Hygiene Promotion
Details -> MHM Hygiene Promotion
Beneficiary -> Women
Formula : 1 quantity > 1 HH and 2 women
Quantity

[2022-02-10 12:00] rafinkanisa commented on #11
Just received the final guide of the API from the capacity building officer. If all is good, we can launch this in the next 2 week

[2022-02-14 01:24] fakhrihawari commented on #37
There some mistake when define a params, already fixed:
Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/114

[2022-02-14 01:59] fakhrihawari commented on #41
already fixed
Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/115

[2022-02-14 03:24] #41 closed, assigned to fakhrihawari

[2022-02-14 03:25] #37 closed, assigned to fakhrihawari

[2022-02-14 03:52] fakhrihawari commented on #43
Mock up

<img width="1241" alt="Screen Shot 2022-02-14 at 10 43 44" src="https://user-images.githubusercontent.com/12655589/153797341-391bc6ba-eabc-4d93-9762-0ea987c6c202.png">

[2022-02-14 03:55] rafinkanisa opened #44 "RH AF Organization doesn't match with the defined organization in the platform"
**Describe the bug**
Similar to https://github.com/iMMAP/ngm-reportDesk/issues/39

**Context**
I found this when I'm trying to add organization and check on the database

**To Reproduce**
Steps to reproduce the behavior:
1. Open the database
2. Compare organization_tag, organization, organization_name, organization type in user collection with organization collection and organizations collection
3

[2022-02-14 04:15] rafinkanisa commented on #43
Looks good to me. I'll ask once more to the WASH cluster focal point in Nigeria to confirm.

[2022-02-14 04:18] rafinkanisa opened #45 "RH ET Organization doesn't match with the defined organization in the platform"
**Describe the bug**
Similar to https://github.com/iMMAP/ngm-reportDesk/issues/39

**Context**
I found this when I'm trying to add organization and check on the database

**To Reproduce**
Steps to reproduce the behavior:
1. Open the database
2. Compare organization_tag, organization, organization_name, organization type in user collection with organization collection and organizations collection
3

[2022-02-14 04:27] fakhrihawari commented on #43
Updated on DEV

[2022-02-14 07:45] rafinkanisa opened #46 "RH IQ Clean Older Reporting Structure"
**Describe the bug**
In Iraq there is a leftover of older reporting structure of one organization account per cluster, existing before 2019
in 2019 it has become one organization per country, and organizations updated only in Afghanistan
The same issue as https://github.com/iMMAP/ngm-reportDesk/issues/22

**Context**
We realized this bug last year when a colleague from Ethiopia reported an issue o

[2022-02-14 07:48] rafinkanisa opened #47 "RH SY Clean Older Reporting Structure"
**Describe the bug**
In Syria there is a leftover of older reporting structure of one organization account per cluster, existing before 2019
in 2019 it has become one organization per country, and organizations updated only in Afghanistan
The same issue as https://github.com/iMMAP/ngm-reportDesk/issues/22

**Context**
We realized this bug last year when a colleague from Ethiopia reported an issue

[2022-02-14 08:55] rafinkanisa opened #48 "RH SO Clean Older Reporting Structure"
**Describe the bug**
In Somalia there is a leftover of older reporting structure of one organization account per cluster, existing before 2019
in 2019 it has become one organization per country, and organizations updated only in Afghanistan
The same issue as https://github.com/iMMAP/ngm-reportDesk/issues/22

**Context**
We realized this bug last year when a colleague from Ethiopia reported an issu

[2022-02-14 11:34] rafinkanisa commented on #43
Just got approval. Kindly put it in PROD

[2022-02-15 04:01] fakhrihawari commented on #43
Updated on PROD
Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/116

[2022-02-16 07:03] fakhrihawari commented on #2
already put it  on my local machine
On profile page:
<img width="1031" alt="Screen Shot 2022-02-16 at 14 01 55" src="https://user-images.githubusercontent.com/12655589/154213082-2a88c4b7-ab3f-4794-b138-5cd3b9364e27.png">

On registration page:
<img width="1128" alt="Screen Shot 2022-02-16 at 14 02 54" src="https://user-images.githubusercontent.com/12655589/154213202-922ff253-971b-4fbf-839d-c110d2f

[2022-02-16 07:24] rafinkanisa commented on #34
I've received the shapefile of the updated location kindly proceed

[2022-02-16 08:03] fakhrihawari commented on #34
updated on DEV

[2022-02-16 08:27] rafinkanisa commented on #34
Hi! I've checked but I couldn't see the site location list

<img width="1131" alt="Screen Shot 2022-02-16 at 14 28 35" src="https://user-images.githubusercontent.com/28089698/154224936-5aa49bcd-9def-47a9-b6ad-26a8f574c396.png">

I think it's because the site list location hasn't been updated with the new corresponding region, zone and woreda code list?

[2022-02-16 08:40] fakhrihawari commented on #34
I already updated

[2022-02-16 09:41] rafinkanisa commented on #34
ok you can go to PROD

[2022-02-16 09:41] #43 closed, assigned to fakhrihawari

[2022-02-16 10:18] rafinkanisa commented on #2
Looks fine.

Population Group to be added into this sub sector :

- IDPs
- Returnees
- Host Community

The target beneficiaries for every activity in this sub sector will be only Women, Men, Eld. Men, Eld. Women

[2022-02-17 02:26] fakhrihawari commented on #34
Updated on PROD and with little update on UI
https://github.com/iMMAP/ngm-reportHub/pull/117

[2022-02-18 02:16] fakhrihawari commented on #11
Updated On DEV

[2022-02-18 02:42] fakhrihawari commented on #2
Updated Population group:
https://docs.google.com/spreadsheets/d/1eRPA-fd7f_rmnuLbjfs2LBpOOVh91qC4/edit#gid=938357199

[2022-02-18 06:04] #34 closed, assigned to fakhrihawari

[2022-02-18 09:10] sud0su commented on #22
I have sent the code to clean up organizations in Nigeria to @fakhrihawari  for review, I made the script with the help of @dodiws , who has experience in cleaning up data previously.

https://github.com/rafinkanisa/ngm-reportDesk/issues/18#issuecomment-989611397

[2022-02-18 09:59] dodiws commented on #45
Created nodejs script to update organization collection with data imported from csv file. Functionally similar to `mongoimport --upsert` which can't do partial update in version 3.0. Still in test.

[2022-02-18 10:00] dodiws commented on #44
Created nodejs script to update organization collection with data imported from csv file. Functionally similar to `mongoimport --upsert` which can't do partial update in version 3.0. Still in test.

More info in [this comment](https://github.com/iMMAP/ngm-reportDesk/issues/45#issuecomment-1047505769).

[2022-02-18 10:07] dodiws commented on #46
Needs to run `find_refs_to_duplicate_orgs.js` script with `admin0pcode = 'IQ'` to remove duplicate organization and update organization references in collections.

More info in [this comment](https://github.com/iMMAP/ngm-reportDesk/issues/45#issuecomment-1047505769).

[2022-02-18 10:08] dodiws commented on #47
Needs to run `find_refs_to_duplicate_orgs.js` script with `admin0pcode = 'SY'` to remove duplicate organization and update organization references in collections.

More info in [this comment](https://github.com/iMMAP/ngm-reportDesk/issues/45#issuecomment-1047505769).

[2022-02-22 01:13] fakhrihawari commented on #11
Already updated on DEV and PROD.
Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/118
https://github.com/iMMAP/ngm-reportEngine/pull/52

[2022-02-22 07:37] dodiws commented on #45
### Correcting `organization_name` values in `organization` collection
Using [`mongo-update-csv.js`](https://github.com/iMMAP/ngm-reportDesk/files/8114574/mongo-update-csv.js.zip) script to import data from csv file and update the `organization_name` field, filter by `admin0pcode`, `organization_tag` fields in `organization` collection.
[code]
file `update-org-name.csv`
[code]
### Correcting `orga

[2022-02-22 07:39] fakhrihawari commented on #44
already tested on DEV Server

[2022-02-22 07:39] fakhrihawari commented on #45
already tested on DEV Server

[2022-02-25 03:27] fakhrihawari commented on #47
already  on PROD

[2022-02-25 03:28] fakhrihawari commented on #46
already  on PROD

[2022-02-25 03:28] fakhrihawari commented on #45
already  on PROD

[2022-02-25 03:28] fakhrihawari commented on #44
already  on PROD

[2022-02-25 03:29] fakhrihawari commented on #22
already  on PROD

[2022-02-25 07:18] fakhrihawari opened #49 "RH AF Add New Cluster CCCM in ReportHub"
**Is your feature request related to a problem? Please describe.**
Request from cluster

**Describe the solution you'd like**
Update the following list accordingly based on their inputs from the returned configuration files

- [x] Activity List
- [x] Beneficiary List
- [x] Donor List
- [x] HRP Beneficiary List

**Describe alternatives you've considered**
A clear and concise description of any alte

[2022-02-25 07:21] fakhrihawari commented on #49
Updated on DEV Server

<img width="1680" alt="Screen Shot 2022-02-25 at 14 20 42" src="https://user-images.githubusercontent.com/12655589/155672207-5019e83a-a3c7-4895-9b3c-c3fd74196285.png">

[2022-02-25 09:25] fakhrihawari commented on #49
updated on PROD , Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/119

[2022-03-04 05:17] rafinkanisa opened #50 "RH AF Add New Cluster"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add the new cluster

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context

[2022-03-04 05:18] rafinkanisa opened #51 "RH SO Update Activity"
**Is your feature request related to a problem? Please describe.**
The Somalia Focal point is reaching out and asks to update the configuration list for "# of births assisted by a skilled birth attendant" to only enable girls and women

**Describe the solution you'd like**
Update the configuration as per request

**Describe alternatives you've considered**
No alternatives

**Additional context**
A

[2022-03-04 05:20] rafinkanisa commented on #49
Done checking. Waiting for the clusters for their feedbacks

[2022-03-04 05:28] #44 closed, assigned to dodiws

[2022-03-04 05:29] #45 closed, assigned to dodiws

[2022-03-04 05:29] #46 closed, assigned to dodiws

[2022-03-04 06:40] fakhrihawari commented on #51
Already updated on DEV and PROD

[2022-03-04 09:11] rafinkanisa opened #52 "RH AF Update Protection Activity"
**Is your feature request related to a problem? Please describe.**
The protection cluster is reaching out and request to add more activity in 2022 for the sub-sector of Child Protection.

**Describe the solution you'd like**
Add the activity as requested

**Describe alternatives you've considered**
No alternatives

**Additional context**
<img width="1287" alt="Screen Shot 2022-03-04 at 16 28 28" s

[2022-03-04 09:13] fakhrihawari commented on #52
already Updated on DEV and PROD

[2022-03-04 09:25] #51 closed, assigned to fakhrihawari

[2022-03-04 09:30] #52 closed, assigned to fakhrihawari

[2022-03-07 02:36] rafinkanisa opened #53 "RH NG enable HH inputs"
**Is your feature request related to a problem? Please describe.**
The cluster focal point in Nigeria is requesting to enable the Households input in Sanitation - Waste Management - Cleaning Campaigns

**Describe the solution you'd like**
Enable the Households field

**Describe alternatives you've considered**
No alternative

**Additional context**
![image](https://user-images.githubusercontent.co

[2022-03-07 03:14] fakhrihawari commented on #53
Updated on DEV
it will look like this
<img width="1143" alt="Screen Shot 2022-03-07 at 10 15 45" src="https://user-images.githubusercontent.com/12655589/156961817-436f9b50-603b-4755-bcbc-7d2c887a1d03.png">

[2022-03-07 03:32] rafinkanisa commented on #53
OK. The HHs is automatically calculated based on location and we only enable the fields so they could put their own number

[2022-03-07 05:00] fakhrihawari commented on #53
Updated on PROD
Link PR
https://github.com/iMMAP/ngm-reportHub/pull/122

[2022-03-07 07:48] #53 closed, assigned to fakhrihawari

[2022-03-07 07:52] rafinkanisa opened #54 "RH NG Enable Individual input fields"
**Is your feature request related to a problem? Please describe.**
The cluster focal point reach me back and request another thing related with https://github.com/iMMAP/ngm-reportDesk/issues/53
They're requesting to also enable the individual field because there are many informal camps that doesn't have the individual number.

**Describe the solution you'd like**
Enable the individual input fields

[2022-03-07 08:06] fakhrihawari commented on #54
updated on DEV and PROD
Link PR
https://github.com/iMMAP/ngm-reportHub/pull/123

[2022-03-07 09:55] #54 closed, assigned to fakhrihawari

[2022-03-08 09:53] fakhrihawari commented on #48
already try in DEV Server

[2022-03-11 02:53] rafinkanisa opened #55 "RH NG Enable individuals & HH input"
**Is your feature request related to a problem? Please describe.**
The nigeria cluster focal point is reaching me to describe the problem in ReportHub. He then asked to enable all the input fields of Individual and Households but keep the calculation so that the partners which submitting report in location that doesn't have pre populated population could edit the number themselves.

**Describe the

[2022-03-11 02:53] rafinkanisa opened #56 "RH AF FSAC Add new activity list"
**Is your feature request related to a problem? Please describe.**
The FSAC cluster is coming back to me to request adding several activities such as :

- Food Assistance - in Kind - IPC4 (75% ration)
- Food Assistance - CBT - IPC4 (75% ration)
- Food Assistance - in Kind - IPC3 (50% ration)
- Food Assistance - CBT - IPC3 (50% ration)
- Unconditional Cash Transfer

**Describe the solution you'd li

[2022-03-11 02:54] rafinkanisa opened #57 "RH AF CCCM Add New Beneficiary"
**Is your feature request related to a problem? Please describe.**
After meeting with the cluster coordinator in CCCM, I've got his clarification and he would like to add the following beneficiary :
Natural Disaster IDPs (displaced in 2022)

**Describe the solution you'd like**
Add the beneficiary type

**Describe alternatives you've considered**
No alternatives

**Additional context**
Add any oth

[2022-03-11 09:46] fakhrihawari commented on #56
updated on DEV and PROD

[2022-03-11 09:47] fakhrihawari commented on #55
Updated on DEV and PROD
Link PR:  https://github.com/iMMAP/ngm-reportHub/pull/125

[2022-03-11 09:47] fakhrihawari commented on #57
Updated on DEV and PROD

[2022-03-11 10:04] #56 closed, assigned to fakhrihawari

[2022-03-11 10:08] #57 closed, assigned to fakhrihawari

[2022-03-11 10:28] #55 closed, assigned to fakhrihawari

[2022-03-11 10:35] #49 closed, assigned to fakhrihawari

[2022-03-11 10:36] #11 closed, assigned to sud0su, fakhrihawari

[2022-03-11 10:53] rafinkanisa opened #58 "RH SO Update the date of Notification"
**Is your feature request related to a problem? Please describe.**
The Somalia focal point just reaching me out and ask to update the email notification as they're shifting the submission deadline from every 10th of the month to every 05th of the month

**Describe the solution you'd like**
Update the date of notification reminder configuration to :
soon = 3
today = 5
pending = 7

**Describe altern

[2022-03-11 10:55] rafinkanisa opened #59 "RH SO Add New Beneficiary List"
**Is your feature request related to a problem? Please describe.**
The Somalia focal point is reaching me and ask to add the following beneficiary :
Drought Non-IDPs

**Describe the solution you'd like**
Add Drought Non-IDPs to the beneficiary list in ReportHub Somalia

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consi

[2022-03-11 11:12] rafinkanisa opened #60 "RH FSAC Update Submitted Report Data"
**Is your feature request related to a problem? Please describe.**
As I've just received the completed data of activity in FSAC and there are many missing information has just been added. Therefore, this missing information should be made available in 2022 activity list and in the report that has already been submitted. The missing information include :

- grant type
- indicator
- update option of

[2022-03-14 03:47] fakhrihawari commented on #59
Updated on  DEV and PROD

[2022-03-14 14:54] mishaker commented on #42
@rafinkanisa my question was about exact command or script which is doing the backup.

Please include the commands for each steps you described thanks

[2022-03-15 03:52] rafinkanisa commented on #42
The backup process run automatically based on :
https://github.com/iMMAP/ngm-reportEngine/blob/master/tasks/db/ngm_reporthub_backup.sh

Please take a look at the code

[2022-03-15 04:05] fakhrihawari commented on #60
There are 19 activities that have already been submitted by users under fsac in 2022
only for activity need to updated
Script to updated:
Check this activity
- db.beneficiaries.find({ admin0pcode: "AF", report_year: 2022, cluster_id: "fsac", activity_type_id: "livelihood_support", activity_type_name: "Livelihood Support", activity_description_id: "livelihood_support_cash_for_work", activity_descri

[2022-03-15 04:07] fakhrihawari commented on #58
Need to update report due date from 10 to 5 that already generate by the system
Here the scripts:
- db.report.find({ admin0pcode: "SO", reporting_period: {$gte:ISODate('2022-03-01'),$lt:ISODate('2022-03-02')}, report_month: 2 }).count()
- db.beneficiaries.find({ admin0pcode: "SO", reporting_period: {$gte:ISODate('2022-03-01'),$lt:ISODate('2022-03-02')}, report_month: 2 }).count()

- db.report.upda

[2022-03-15 08:53] fakhrihawari commented on #60
Updated on DEV

[2022-03-15 09:17] rafinkanisa commented on #58
is this already on DEV?

[2022-03-15 09:46] fakhrihawari commented on #58
Still on local
and need to update crontab
- 0 5 3 * * root echo $(date --rfc-3339=seconds ), job:ngm_reporthub_reports_reminder.sh "\n$(/home/ubuntu/nginx/www/ngm-reportEngine/tasks/reports/ngm_reporthub_reports_reminder.sh)" >> /var/log/cronjob.log 2>&1
- 0 5 7 * * root echo $(date --rfc-3339=seconds ), job:ngm_reporthub_reports_reminder.sh "\n$(/home/ubuntu/nginx/www/ngm-reportEngine/tasks/repor

[2022-03-16 02:39] fakhrihawari commented on #58
Updated and test on DEV

[2022-03-17 02:04] fakhrihawari commented on #58
updated on PROD

Link PR: https://github.com/iMMAP/ngm-reportEngine/pull/55/

crontab updated too

[2022-03-18 03:27] fakhrihawari commented on #60
Updated on PROD

[2022-03-18 07:58] fakhrihawari commented on #39
Fix by using this script
Script:
// to check if organization collection have same info as in organizations collection
[code]

and we do this
[code]

// check other collection if have same problem
[code]
[code]

[2022-03-18 08:01] fakhrihawari commented on #48
Updated on PROD by running this command
[code]

[2022-03-18 08:02] #39 closed, assigned to nobody

[2022-03-18 10:42] #59 closed, assigned to fakhrihawari

[2022-03-18 10:42] #60 closed, assigned to fakhrihawari

[2022-03-18 10:42] #58 closed, assigned to fakhrihawari

[2022-03-21 04:07] #48 closed, assigned to sud0su

[2022-03-21 04:07] #47 closed, assigned to dodiws

[2022-03-21 04:07] #22 closed, assigned to sud0su, fakhrihawari

[2022-03-22 03:23] fakhrihawari commented on #40
Mock Up:
<img width="672" alt="Screen Shot 2022-03-22 at 10 22 42" src="https://user-images.githubusercontent.com/12655589/159401624-20787a39-fc70-4643-96cd-f2c9a064d2ca.png">

[2022-03-22 03:49] rafinkanisa opened #61 "RH NG WASH Beneficiaries is showing late"
**Describe the bug**
The beneficiary number is showing late. Takes around 2 minutes

**Context**
Is this bug request coming from a partner ? in this case please note in which context it was requested? and who was the contact point?
This is a request from Nigeria WASH cluster focal point who found this bug and reported in a call meeting with Rafinka.

**To Reproduce**
Steps to reproduce the behavio

[2022-03-22 04:56] fakhrihawari commented on #61
already found where is the problem and already fixed it.
Link PR: https://github.com/iMMAP/ngm-reportHub/pull/127

[2022-03-22 06:01] fakhrihawari commented on #8
Updated on DEV

[2022-03-22 07:22] fakhrihawari commented on #8
Demo

https://user-images.githubusercontent.com/12655589/159428447-f60377f6-4a58-4fa6-8571-0aeb424be0f3.mp4

[2022-03-23 02:46] rafinkanisa commented on #8
Done checking. Can go to the PROD

[2022-03-23 02:54] fakhrihawari commented on #8
Updated on PROD, Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/128

[2022-03-23 07:53] rafinkanisa opened #62 "RH AF Protection Update Indicator"
**Is your feature request related to a problem? Please describe.**
The protection cluster IM reaching out and request to update the following indicator
#. of girls and boys at risk, including unaccompanied and separated children, and child survivors of GBV identified, documented, and received case management services

into
#. of girls and boys at risk, including unaccompanied and separated childre

[2022-03-23 07:54] #8 closed, assigned to fakhrihawari

[2022-03-23 08:08] rafinkanisa opened #63 "RH AF FSAC Update Metadata"
**Is your feature request related to a problem? Please describe.**
As the FSAC has updated all of the metadata for 2022, we'll have to update all of the submitted report data from Jan 2022 according to the given list. There are still some old activity which we could update the metadata but missed to update previously. The CVWG also would like to have the grant type metadata to be filled.

**Descri

[2022-03-24 07:26] fakhrihawari commented on #62
Testing script on Local
[code]
[code]

[2022-03-24 09:45] fakhrihawari commented on #63
Script:
[code]

[code]

[2022-03-24 09:51] rafinkanisa commented on #63
You can try on DEV using the most recent DB backup

[2022-03-24 09:52] rafinkanisa commented on #62
You can try on DEV using the most recent DB backup

[2022-03-25 03:25] fakhrihawari commented on #63
Updated on DEV

[2022-03-25 03:25] fakhrihawari commented on #62
Updated on DEV

[2022-03-25 03:50] rafinkanisa commented on #62
Done check. Can go to PROD
Don't forget to update also the csv for activities

[2022-03-25 03:51] rafinkanisa commented on #63
Done check. Can go to the PROD
Don't forget to update also the csv for activities

[2022-03-25 04:28] #61 closed, assigned to fakhrihawari

[2022-03-25 07:17] fakhrihawari commented on #62
Updated on PROD

[2022-03-25 07:18] fakhrihawari commented on #63
Updated on PROD

[2022-03-25 09:17] #62 closed, assigned to fakhrihawari

[2022-03-25 09:17] #63 closed, assigned to fakhrihawari

[2022-03-25 10:03] rafinkanisa opened #64 "Moving HRP Beneficiary Type to API"
**Is your feature request related to a problem? Please describe.**
Currently, to update the HRP Beneficiary list is by updating the code directly. As this list will always be changing in the future, it would be hard to maintain if we have to update the code every time the list is updated. We have been thinking to move this since last year but until now it's still postponed. Reference https://githu

[2022-03-28 07:26] fakhrihawari opened #65 "Old data still use ObjectId type for location_id"
Describe the bug
Some old data still use ObjectId type for location_id attribute on stock collection

Context
Stock Collection

To Reproduce

Expected behavior
it should be a string

reference:
https://github.com/pfitzpaddy/ngm-reportEngine/pull/169

[2022-03-28 07:26] fakhrihawari commented on #65
Script to fix it
$type: 7 it means is objectId
reference : https://www.mongodb.com/docs/manual/reference/operator/query/type/
db.stock.find({ location_id: { $type: 7 } }).count();
db.stock.find({ location_id: { $type: 7 },report_year:{$lte:2020}}).count();
db.stock.find({ location_id: { $type: 7 }, report_year: { $lte: 2020 } }).forEach(function(s){
    s.location_id = s.location_id.valueOf();

[2022-03-28 09:02] fakhrihawari commented on #64
Updated on DEV

[2022-03-28 09:02] fakhrihawari commented on #65
Updated on DEV

[2022-03-28 10:36] rafinkanisa opened #66 "RH AF Stock Report is incorrect"
**Describe the bug**
The submitted stock report is saying EiEWG while the actual report is ESNFI. Tarpaulin should come under ESNFI

**Context**
Is this bug request coming from a partner ? in this case please note in which context it was requested? and who was the contact point?
I found this bug when I check the data after producing some statistics needed to show the engagement rate of ReportHub

[2022-03-28 10:38] rafinkanisa opened #67 "RH AF Filter Location in 5W Dashboard"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Last year we still have some projects that actively submitting reports using the old location attribute. Starting from 2022, we have ensured that none of those project is still active. This has been a request coming from various stakeholder

[2022-03-29 03:00] rafinkanisa commented on #40
Remove the bullet point for

Admin: admin_name (admin_username)

[2022-03-29 03:39] fakhrihawari commented on #66
Updated on DEV and PROD
Script to check which record need to update:
[code]
Script to update the record:

[code]

[2022-03-29 03:41] fakhrihawari commented on #65
updated on DEV and PROD

[2022-03-29 05:45] fakhrihawari commented on #40
<img width="799" alt="Screen Shot 2022-03-29 at 12 45 25" src="https://user-images.githubusercontent.com/12655589/160541771-2ceecadb-ec54-4e5c-8ad5-1f52a29b0b91.png">

[2022-03-29 06:25] fakhrihawari commented on #64
updated on PROD
link PR:
https://github.com/iMMAP/ngm-reportHub/pull/130
https://github.com/iMMAP/ngm-reportEngine/pull/56

script to move data to the server

[code]

[2022-03-29 06:52] fakhrihawari commented on #67
updated on DEV

<img width="339" alt="Screen Shot 2022-03-29 at 13 51 53" src="https://user-images.githubusercontent.com/12655589/160551092-c83b8419-4829-43a2-9635-ca5b0460430f.png">

[2022-03-30 02:55] fakhrihawari commented on #67
updated on PROD
Link PR
https://github.com/iMMAP/ngm-reportHub/pull/131

[2022-03-30 03:00] rafinkanisa commented on #67
Looks good to me. Great! Thanks

[2022-03-30 03:00] #67 closed, assigned to fakhrihawari

[2022-03-30 03:02] rafinkanisa commented on #66
Done check. Looks good

[2022-03-30 03:20] rafinkanisa commented on #40
Is this applicable outside AF? If not yet, kindly make it applicable for all other countries too.
Thanks

[2022-03-30 03:46] fakhrihawari commented on #40
Okay, I will update it

[2022-03-30 04:33] fakhrihawari commented on #40
Updated on DEV

[2022-03-30 07:15] rafinkanisa commented on #40
Done check
can go to PROD

[2022-03-30 09:17] fakhrihawari commented on #40
Updated on PROD
Link PR:
https://github.com/iMMAP/ngm-reportEngine/pull/57
https://github.com/iMMAP/ngm-reportHub/pull/132

[2022-04-01 06:10] #40 closed, assigned to fakhrihawari

[2022-04-01 06:11] #66 closed, assigned to fakhrihawari

[2022-04-01 06:11] #65 closed, assigned to fakhrihawari

[2022-04-01 06:11] #64 closed, assigned to fakhrihawari

[2022-04-04 03:24] rafinkanisa opened #68 "Project Code downloaded as 0"
**Describe the bug**
A clear and concise description of what the bug is.
I tried to create a project plan with '000' as the project code. When I tried to download the report, the project code in the downloaded file becomes '0'

**Context**
Is this bug request coming from a partner ? in this case please note in which context it was requested? and who was the contact point?
This is something I just

[2022-04-04 05:26] fakhrihawari commented on #68
For now, the solution that I found is to put " (quote mark) before and after string for this case
it will look like this in csv file:
<img width="119" alt="Screen Shot 2022-04-04 at 10 37 53" src="https://user-images.githubusercontent.com/12655589/161479337-1ecd448f-ffaa-4cf4-96ab-7053b53f8b24.png">

[2022-04-04 08:47] fakhrihawari opened #69 "BUG: Note field on the monthly report does not show all texts"
**Describe the bug**
Note field on the monthly report does not show all texts

**Context**
This is a request from (habib.khan@ord.org.af) who found this bug and reported it on Hubspot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Monthly Progress'
2. Click on  'Monthly Progress "Month" 2022'
3. Scroll down to 'Monthly Notes and Comments'
4. See an error

**Expected behavior**
It sh

[2022-04-04 08:48] fakhrihawari commented on #69
Already fixed it
Link PR:
https://github.com/iMMAP/ngm-reportHub/pull/134/files#diff-9da48cb7165339c9aa202e35e780344cec58f29e62a91a91566ea039eb49c6c7

[2022-04-05 03:00] rafinkanisa opened #70 "Page when project is missing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We have created a delete request feature where the notification send to the admins. Most often, there are multiple admin in one organization. If one of the admin has deleted the project, when the other admin is clicking the link of the requ

[2022-04-05 05:56] fakhrihawari commented on #68
after checking and trying opening CSV files on other software (google Sheets) besides excel and numbers in mac. it turns out that the value of the project code is not altered in the CSV file or the same as in DB

[2022-04-05 06:16] fakhrihawari commented on #70
updated on DEV and PROD

<img width="1387" alt="Screen Shot 2022-04-05 at 13 09 58" src="https://user-images.githubusercontent.com/12655589/161690038-00381efb-920b-4e3f-9529-157d029ea1a3.png">

Link PR :
https://github.com/iMMAP/ngm-reportHub/pull/134

[2022-04-06 02:29] fakhrihawari opened #71 "Bug: On user collection some users still using the old Multi-Purpose Cash cluster name which is "MPC""
**Describe the bug**
On user collection, some users still using the old   Multi-Purpose Cash cluster name which is "MPC"

**Context**
On User collection attribute

**Expected behavior**
the name for the cluster should be "Multi-Purpose Cash" not "MPC"

**Screenshots**

**Additional context**

[2022-04-06 02:29] fakhrihawari commented on #71
Fix using this script:

[code]

[2022-04-08 06:48] #68 closed, assigned to fakhrihawari

[2022-04-08 06:49] #69 closed, assigned to fakhrihawari

[2022-04-08 06:49] #70 closed, assigned to fakhrihawari

[2022-04-08 06:50] #71 closed, assigned to fakhrihawari

[2022-04-11 08:51] rafinkanisa opened #72 "Deactivate Inactive user"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We'll be deactivating the inactive users. Therefore, some adjustment in the API have to be done.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
For the first phase, I'm thinking to send out

[2022-04-11 09:30] rafinkanisa opened #73 "Project Set to Complete but Monthly Progress is still generating New TODO Reports"
**Describe the bug**
A clear and concise description of what the bug is.
Monthly Progress still opening a new reports to be completed even though the project has been set to complete.
It is found difficult to track which project should be reported if we leave this bug as is.

**Context**
Is this bug request coming from a partner ? in this case please note in which context it was requested? and who

[2022-04-12 04:13] fakhrihawari commented on #73
Already testing in local and will test to DEV Server

[2022-04-12 04:39] fakhrihawari commented on #72
I have already sent emails to inactive user

[2022-04-12 06:15] fakhrihawari commented on #73
Do we need to change the status of the report to complete or just remove the report from the project?

[2022-04-12 08:48] fakhrihawari commented on #73
Updated on DEV

[2022-04-12 10:19] rafinkanisa opened #74 "Bulk Delete for All Activity in Specific Month"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Some users are requesting to delete all of the activities they have reported in a certain month at ReportHub. Currently, ReportHub doesn't have the functionality to delete all activities either that have been saved as drafts or have been su

[2022-04-13 03:19] rafinkanisa opened #75 "RH AF CCCM Site Type"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I've just received some clarifications from the CCCM Coordinator. As we discussed before that CCCM WG would like to use ReportHub, we'll have to set some things such as the Site Type option.

**Describe the solution you'd like**
A clear and

[2022-04-13 03:23] rafinkanisa opened #76 "RH AF CCCM Site Implementation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I've just received some clarifications from the CCCM Coordinator. As we discussed before that CCCM WG would like to use ReportHub, we'll have to set some things such as the Site Implementation option.

**Describe the solution you'd like**
A

[2022-04-13 03:26] rafinkanisa commented on #73
I think would be better to change the status to complete

[2022-04-13 03:27] rafinkanisa commented on #72
Great! Let's wait until next week and after that we can deactivate the account

[2022-04-13 03:29] rafinkanisa opened #77 "RH AF CCCM Activity List Update"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I've just received some updates from the CCCM Coordinator. As we discussed before that CCCM WG would like to use ReportHub, we'll have to update the activity list according to their request.

**Describe the solution you'd like**
A clear and

[2022-04-13 03:42] rafinkanisa commented on #77
Done updating the CSV files. Kindly proceed to DEV thanks!

[2022-04-13 04:14] fakhrihawari commented on #75
updated on DEV

<img width="434" alt="Screen Shot 2022-04-13 at 11 13 24" src="https://user-images.githubusercontent.com/12655589/163098835-e60266d7-6f07-4c2c-b931-1c9642316e5f.png">

[2022-04-13 04:15] fakhrihawari commented on #76
updated on DEV

<img width="407" alt="Screen Shot 2022-04-13 at 11 13 16" src="https://user-images.githubusercontent.com/12655589/163098902-f0f597ba-7c57-4e34-81e3-391f01beacb0.png">

[2022-04-13 04:15] fakhrihawari commented on #77
Updated on DEV

[2022-04-13 07:06] fakhrihawari commented on #74
Mock Up
First Put in Top
<img width="1255" alt="Screen Shot 2022-04-13 at 14 04 03" src="https://user-images.githubusercontent.com/12655589/163119319-9a623716-e551-41fd-b550-fcd14e1f797f.png">

on the bottom
<img width="1264" alt="Screen Shot 2022-04-13 at 14 04 09" src="https://user-images.githubusercontent.com/12655589/163119425-e36213b4-5565-4e23-9bce-e30cb3375c84.png">

Modal
<img width="933"

[2022-04-13 08:02] rafinkanisa commented on #75
I just check but it's showing a list which is not under CCCM while I only choose CCCM. It should show only the list I mention above and if it's a multicluster, other list will be appended I suppose (like in Protection)

[2022-04-13 08:03] rafinkanisa commented on #76
I just check but it's showing a list which is not under CCCM while I only choose CCCM. It should show only the list I mention above and if it's a multicluster, other list will be appended I suppose (like in Protection)

[2022-04-13 08:16] rafinkanisa commented on #77
Hi! I just checked
I think this one is still using the old version. The units should be # of Training Sessions

<img width="1111" alt="Screen Shot 2022-04-13 at 15 14 11" src="https://user-images.githubusercontent.com/28089698/163131798-6af80749-a554-4d73-ab20-d0cead157d7e.png">

[2022-04-13 09:27] fakhrihawari commented on #76
already fix it on DEV

[2022-04-13 09:27] fakhrihawari commented on #75
already fix it on DEV

[2022-04-13 09:32] fakhrihawari commented on #77
already fix it on DEV

[2022-04-13 10:46] rafinkanisa commented on #74
Please edit the words used as described.

A quick question: when a user is deleting the activities, this action must have to be saved first before it will be taking an action at the platform right?

[2022-04-14 02:42] rafinkanisa commented on #77
good. can go to PROD

[2022-04-14 02:44] rafinkanisa commented on #76
Done check can go to PROD

[2022-04-14 02:44] rafinkanisa commented on #75
Done check can go to PROD

[2022-04-14 02:54] fakhrihawari commented on #75
updated on PROD
link PR:
https://github.com/iMMAP/ngm-reportHub/pull/135

[2022-04-14 02:55] fakhrihawari commented on #76
updated on PROD
link PR
https://github.com/iMMAP/ngm-reportHub/pull/135

[2022-04-14 03:08] fakhrihawari commented on #77
Updated on PROD

[2022-04-14 03:19] fakhrihawari commented on #74
No need because I set the function to automatically save the report after we delete all the activities

[2022-04-14 03:58] fakhrihawari commented on #74
Button
<img width="1335" alt="Screen Shot 2022-04-14 at 10 55 46" src="https://user-images.githubusercontent.com/12655589/163310777-7c95aaff-bbb4-4e78-b359-eb43eed5974c.png">
<img width="1325" alt="Screen Shot 2022-04-14 at 10 55 40" src="https://user-images.githubusercontent.com/12655589/163310785-325d661d-e76b-4f10-9d9d-2ede38fa228e.png">

Prompt message
<img width="1021" alt="Screen Shot 2022-0

[2022-04-15 01:40] fakhrihawari commented on #73
updated on PROD
Link PR
https://github.com/iMMAP/ngm-reportEngine/pull/60

Script to update:
[code]

[2022-04-19 01:27] fakhrihawari commented on #74
updated on DEV

[2022-04-20 07:39] rafinkanisa commented on #74
Hi I've just checked and found this. Why are there 2 button (delete activities & remove report)

<img width="578" alt="Screen Shot 2022-04-20 at 14 38 07" src="https://user-images.githubusercontent.com/28089698/164176027-51ae6eb7-6231-4da5-9a46-a7149f8acff5.png">

I'm checking using common user
this is the project link
https://dev.reporthub.org/desk/#/cluster/projects/report/612f231d7fd758f3603104

[2022-04-20 10:08] fakhrihawari commented on #74
The "remove report" button is used to delete non-blank reports that are outside the project date range that has been defined in the project plan.
So for example, when we first create a project, we set the project to start on January 1, 2021, and end on December 31, 2022.

Later on January 1, 2022, we changed the project start date to January 1, 2022, for some reason.
Reports that have been created

[2022-04-20 10:41] rafinkanisa commented on #74
alright, we'll fix the remove button issue on another user storry.
you may go to PROD

[2022-04-21 02:31] fakhrihawari commented on #74
Updated on PROD
Link PR
https://github.com/iMMAP/ngm-reportHub/pull/137
https://github.com/iMMAP/ngm-reportEngine/pull/61

[2022-04-22 03:45] rafinkanisa opened #78 "Email Notification Not Sent"
**Describe the bug**
A clear and concise description of what the bug is.
The email notification has just stopped sending to the reporter a couple of months ago

**Context**
Is this bug request coming from a partner ? in this case please note in which context it was requested? and who was the contact point?
ex: This is a request from X who found this bug and reported in a call meeting with Y.
This

[2022-04-22 08:52] #73 closed, assigned to fakhrihawari

[2022-04-22 09:58] #74 closed, assigned to fakhrihawari

[2022-04-22 09:58] #77 closed, assigned to fakhrihawari, rafinkanisa

[2022-04-22 09:59] #76 closed, assigned to fakhrihawari

[2022-04-22 09:59] #75 closed, assigned to fakhrihawari

[2022-04-22 10:10] rafinkanisa opened #79 "Outbound Reports"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I've just realized there are certain conditions that enable reports to become out of bound. We'll need to differentiate those reports so the users are aware of this anomaly.

**Describe the solution you'd like**
A clear and concise descript

[2022-04-25 02:40] fakhrihawari commented on #72
Already deactivated the account

[2022-04-25 03:38] fakhrihawari commented on #79
Mock Up
<img width="1305" alt="Screen Shot 2022-04-25 at 10 37 04" src="https://user-images.githubusercontent.com/12655589/165016785-cc8045c7-bea1-4987-8fc9-873923fcc673.png">

<img width="1292" alt="Screen Shot 2022-04-25 at 10 37 56" src="https://user-images.githubusercontent.com/12655589/165016846-2b536f37-8dae-4b18-9460-c7a0b103ff98.png">

[2022-04-28 02:21] fakhrihawari commented on #79
<img width="634" alt="Screen Shot 2022-04-28 at 09 21 13" src="https://user-images.githubusercontent.com/12655589/165663606-f1c936a4-c0f5-450d-be79-b029c9282c31.png">

[2022-04-29 02:21] fakhrihawari commented on #78
Updated on DEV and PROD
Link PR:
https://github.com/iMMAP/ngm-reportEngine/pull/62

[2022-04-29 02:21] fakhrihawari commented on #79
Can we put it on PROD?

[2022-04-29 02:39] fakhrihawari commented on #79
Updated on DEV and PROD
Link PR
https://github.com/iMMAP/ngm-reportHub/pull/138